<?xml version='1.0' encoding='UTF-8'?>
<Configuration status='INFO'>
    <Properties>
        <Property name='basePath'>./lab1</Property>
    </Properties>

    <Appenders>
        <File name='fileLogger' fileName='${basePath}/log-info.log'>
            <PatternLayout pattern = "[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
        </File>

        <Console name='console' target='SYSTEM_OUT'>
            <PatternLayout pattern='[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n' />
        </Console>
    </Appenders>

    <Loggers>
        <Root level='debug' additivity='false'>
            <appender-ref ref='console' level="debug" />
            <appender-ref ref='fileLogger' level="error" />
        </Root>
    </Loggers>
</Configuration>